.lpx-menu-item-link {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lpx-avatar {
    display: flex;
    align-items: center;
}

.user-full-name {
    margin-left: 8px;
    font-weight: 500;
}