/* You can add global styles to this file, and also import other style files */
:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/icon.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');

  .abp-support {
    background-image: url('/assets/images/getting-started/abp-support-white.svg');
  }

  .abp-community {
    background-image: url('/assets/images/getting-started/abp-community-white.svg');
  }

  .abp-blog {
    background-image: url('/assets/images/getting-started/abp-blog-white.svg');
  }

  .logo-x {
    background-image: url('/assets/images/getting-started/x-white.svg');
  }
}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/images/logo/icon.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root {
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');

  @keyframes textbg {
    0% {
      background-position-x: 0%;
    }

    100% {
      background-position-x: 200%;
    }
  }

  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/getting-started/x.svg');
  }
}

/* Force hide default ABP avatar instantly to prevent flickering */
.lpx-header-right .lpx-avatar:not(app-user-profile .lpx-avatar),
.lpx-user-menu .lpx-avatar,
abp-current-user .lpx-avatar,
.lpx-login-area .lpx-avatar {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  pointer-events: none !important;
}

/* Ensure our custom avatar is visible */
/* You can add global styles to this file, and also import other style files */
:root .lpx-theme-dark {
  --lpx-logo: url('/assets/images/logo/logo-light.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');

  .abp-support {
    background-image: url('/assets/images/getting-started/abp-support-white.svg');
  }

  .abp-community {
    background-image: url('/assets/images/getting-started/abp-community-white.svg');
  }

  .abp-blog {
    background-image: url('/assets/images/getting-started/abp-blog-white.svg');
  }

  .logo-x {
    background-image: url('/assets/images/getting-started/x-white.svg');
  }
}

:root .lpx-theme-light {
  --lpx-logo: url('/assets/images/logo/logo-dark.svg');
  --lpx-logo-icon: url('/assets/images/logo/icon.svg');
}

:root {
  --lpx-theme-light-bg: url('/assets/images/login/login-bg-img-light.svg');
  --lpx-theme-dim-bg: url('/assets/images/login/login-bg-img-dim.svg');
  --lpx-theme-dark-bg: url('/assets/images/login/login-bg-img-dark.svg');

  @keyframes textbg {
    0% {
      background-position-x: 0%;
    }

    100% {
      background-position-x: 200%;
    }
  }

  .abp-logo {
    background-repeat: no-repeat;
  }

  .abp-support {
    width: 178px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-support.svg');
  }

  .abp-community {
    width: 215px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-community.svg');
  }

  .abp-blog {
    width: 142px;
    height: 30px;
    background-image: url('/assets/images/getting-started/abp-blog.svg');
  }

  .logo-x {
    width: 20px;
    height: 20px;
    background-image: url('/assets/images/getting-started/x.svg');
  }
}

/* Force hide default ABP avatar instantly to prevent flickering */
.lpx-header-right .lpx-avatar:not(app-user-profile .lpx-avatar),
.lpx-user-menu .lpx-avatar,
abp-current-user .lpx-avatar,
.lpx-login-area .lpx-avatar {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  pointer-events: none !important;
}

/* Ensure our custom avatar is visible */
app-user-profile .lpx-avatar {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  width: 32px !important;
  height: 32px !important;
  margin-right: 8px;
}

.users-modal {
  abp-validation-error {
    display: none !important;
  }

  .invalid-feedback {
    display: none !important;
  }
}

.lpx-brand-logo {
    background-image: url('/assets/images/logo/TvtrackerLogo.png');
}
.hover-trigger .lpx-sidebar-container:not(:hover) .lpx-brand-logo {
    background-image: url('/assets/images/logo/icon.svg');
}

.lpx-content-container {
    background-color: #28282f;
}
.lpx-topbar-container .lpx-topbar {
    background-color: #f5f5ff;
}

.lpx-content-container .lpx-content {
  padding: 0 2rem;
}