.search-form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.search-form input {
    padding: 0.75rem;
    padding-right: 5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.search-form button {
    padding: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

.datatable-container {
    margin-top: 20px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(240, 240, 240);
}

.table> :not(caption)>*>* {
    padding: 0 !important;
}

.table {
    margin-bottom: 0 !important;
}

ngx-datatable.bootstrap {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

ngx-datatable.bootstrap .datatable-header {
    background-color: #007bff;
    color: white;
    text-align: center;
    align-content: center;
    font-weight: bold;
}

ngx-datatable.bootstrap .datatable-body-row {
    background-color: #e2e2e2 !important;
    text-align: center;
    align-items: center !important;
    align-content: center !important;
    border-bottom-color: lightblue;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    display: flex;
}

ngx-datatable.bootstrap .datatable-body-cell {
    align-content: center !important;
}

ngx-datatable.bootstrap .datatable-cell {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    align-items: center !important;
    align-content: center !important;
    border-bottom: 1px solid #ddd;
}

ngx-datatable.bootstrap .datatable-footer {
    background-color: #e9ecef;
    text-align: center;
    font-weight: bold;
}

ngx-datatable.bootstrap .datatable-footer .pagination {
    display: inline-flex;
    gap: 5px;
}

ngx-datatable.bootstrap .datatable-footer .pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
}

ngx-datatable.bootstrap .datatable-footer .pagination .page-link {
    padding: 0.5rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ngx-datatable.bootstrap .datatable-footer .pagination .page-link:hover {
    background-color: #007bff;
    color: white;
}